body{
	background:url(images-g-r/Cubes.jpg) center;
}

body:hover
{
	background: url(images-g-r/Cubes.jpg) bottom right ;
	-webkit-transition: all 4.0s ease;
-moz-transition: all 4.0s ease;
-ms-transition: all 4.0s ease;
-o-transition: all 4.0s ease;
transition: all 60.0s ease;
}

div:hover
{
	background: url(images-g-r/Cubes.jpg) bottom left ;
	-webkit-transition: all 4.0s ease;
-moz-transition: all 4.0s ease;
-ms-transition: all 4.0s ease;
-o-transition: all 4.0s ease;
transition: all 30.0s ease;
}

div
{
	background-color: black; color: white;box-shadow: 4px 4px 4px 0px black; 
}


#test
{
	border: 3px black solid; margin-bottom: 60px;
}

#test1
{
	border: 3px black solid; font-size: 30px;
	width: 40%; text-align: center; margin: auto
}

#test2 
{
	border: 3px black solid; float: left; margin-top: 20px;	
	width: 45%; text-align: left; margin-top: 50px;
}

 img
 {
 width: 80px;
	height: 80px; position: absolute
 }



.mail
{
position: absolute; margin-left: 360px; margin-top: -69px;
width:50px;height:50px;
}

.mail:hover
{
	opacity: 0.6;
	-webkit-transition: all 4.0s ease;
-moz-transition: all 4.0s ease;
-ms-transition: all 4.0s ease;
-o-transition: all 4.0s ease;
transition: all 0.8s ease;
}

#test3
{
border: 3px black solid; float: right; margin-top: 20px;	
	width: 45%; text-align: left; 
}

#test4
{
border: 3px black solid; margin-top: 150px;	
text-align: left; overflow: auto;
}

p
{
overflow: auto;
margin-top: 10px;	
text-align: left;
margin:10px;
word-wrap: break-word;
}

#test5
{
border: 3px black solid; margin-top: 20px;	
text-align: left

}

.fb img
{
    width: 70px;
    height: 70px;
    margin-left: 180px; margin-top: -72px;
    display:block; position: absolute;
}

.yt img
{
    width: 80px;
    height: 80px;
    margin-left: 250px; margin-top: -76px;
    display:block; 
}

.yt img:hover, .fb img:hover
{
    opacity: 0.6; 
    	-webkit-transition: all 4.0s ease;
-moz-transition: all 4.0s ease;
-ms-transition: all 4.0s ease;
-o-transition: all 4.0s ease;
transition: all 0.8s ease;
}

.logo
{
	margin-left:85px;

}

h1
{
	margin-top : -2px;
	text-align: right; margin-right: 20px;

} 


