html 
{
  font-family: none;
}

body 
{ 
	margin: 10px;
}

header
{
	height: 40px;
	font-size: 20px;
	color: #06E5C7;
	display: block;
}

h1
{
color: red;	
  font-family: inherit;
  font-weight: 15;
  line-height: 1.1;
	margin: .67em 0;
  font-size: 2em;
  margin: 0,9em 0px 0.67em 1px;
}

h2
{
	font-family: inherit;
	color: #f20008;
	font-weight: 15;
    line-height: 1.1;
}

p 
{
	font-family: Arial;
	font-size: 15px;
	background-color: transparent;
	font-family: Arial;
	color:#1FDEDE;
	
}

ul
{
	font-family: Arial;
	font-size: 15px;
	background-color: transparent;
	color:#1FDEDE;
}


img  
{
border-width: all                        /* auto */       E.g. border-image-width: 3;
border-width: vertical horizontal        /* auto */       E.g. border-image-width: 2em 3em;
border-width: top horizontal bottom      /* auto */     E.g. border-image-width: 15% 25% 20%;
border-width: top right bottom left      /* auto */      E.g. border-image-width: 15% 2em 20% auto;

border-width: inherit
	 
}






div
{
	
     display: block;
}



a.btn
{
		margin: 0;
  font: inherit;
  color: inherit;
		  overflow: visible;
		  text-transform: none;
  cursor: pointer;
  margin: 15;
  font: inherit;
  		  overflow: visible;
		  text-transform: Arial;
		  padding: 10;
  border: 10;
  color: #1A4EFF;
  background-color: #1FDEDE;
}

.logo
{
	height :150px ; 
}

article
{
	width: 900px;
	margin: auto;
}









								}
/* -------------------- */
	/* CLASSES */
	/* -------------------- */



