 body{
	margin:0px;
	background-image:url('img/fond.jpg ');
	background-repeat:repeat-x no-repeat;
 }
#head {
		background-image:url('img/fond2.jpg');
		background-position:center;
		background-repeat:no-repeat;
		background-size:140%;
		height:100px;
		width:auto;
}
#title{

	padding-top:3px;
	text-align:center;
	font-family:Comic Sans, Comic Sans MS, cursive;
}

.block{
	background-image:url('img/fond2.jpg');
		background-size: 200%;
		background-repeat:no-repeat;
		background-position:center;
	height:350px;
	width:500px;
	border: solid 2px #C8C9D1;
	border-radius:100%;
	margin:20px 0px 0px 20px;
	float:left;
}

#text{
	margin-top:15px;
	height:350px;
	width:500px;
	font-family:arial;
	padding:50px 0px 50px 0px;
	text-align:center;
	font-size:14px;
}
.block2{
	
	display:block;
	background-image:url('img/fond2.jpg');
		background-size: 200%;
		background-repeat:no-repeat;
		background-position:center;
	height:350px;
	width:500px;
	margin:0px 20px 0px 0px;
	border: solid 2px #C8C9D1;
	border-radius:100%;
	float:right;
	clear:left;
}
#text2{
	margin-top:15px;
	height:350px;
	width:500px;
	font-family:arial;
	padding:36px 0px 50px 0px;
	text-align:center;
	margin:10px0px0px20px;
	font-size:12px;
}

#text3{
	margin-top:20px;
	height:350px;
	width:500px;
	font-family:arial;
	padding:50px 0px 50px 0px;
	text-align:center;
	font-size:14px;
}

#img1{
float:right;
margin:20px 20px 0px 0px;
}