 body{
	margin:0px;
	/*background-image:url('img/fond5.jpg ');
	background-repeat: no-repeat;*/
	background-image:linear-gradient(#3D53C3, white); /* Norme W3C */
	background-image:-moz-linear-gradient(#3D53C3, white); /* Firefox */
	background-image:-webkit-gradient(linear, #3D53C3, white); /* Chrome, Safari */
	background-image:-o-linear-gradient(#3D53C3, white); /* Opera */
	background-image:-ms-linear-gradient(#3D53C3, white); /* IE */
 }

#title {
		/*background-image:url('img/ban.png');
		background-position:center;
		background-repeat:no-repeat;
		background-size:100%;*/
		/*background-image:linear-gradient(white, #3D53C3); /* Norme W3C */
			/*background-image:-moz-linear-gradient(white, #3D53C3); /* Firefox */
			/*background-image:-webkit-gradient(linear, white, #3D53C3); /* Chrome, Safari */
			/*background-image:-o-linear-gradient(white, #3D53C3); /* Opera */
			/*background-image:-ms-linear-gradient(white, #3D53C3); /* IE */
		background-color: #3D53C3;
		width:auto;
		height: 80px;
		border-bottom: 2px solid white;
		text-align:center;
		font-family:Times;
		font-size:30px;
}
#logo {
	position:absolute;
	top:-6px;
	left:30px;
}
#fb {
	position:absolute;
	top:25px;
	right:25px;
}
#mail{
	position:absolute;
	top:25px;
	right:100px;
}
#gp{
	position:absolute;
	top:25px;
	right:175px;
}
#moi{
	border-radius: 100%;
	border:solid 2px black;
	width:200px;
	height:200px;
	position:relative;
	background-image: url('img/moi.jpg');
		background-size:178%;
		background-repeat:no-repeat;
		background-position: center;
	margin: 100px 0px 0px 675px;
}
#simplon{
	border-radius: 100%;
	border:solid 2px black;
	width:200px;
	height:200px;
	position:relative;
	background-image: url('img/simplon.jpg');
		background-size:300%;
		background-repeat:no-repeat;
		background-position: center;
	margin: 170px 0px 0px 130px;
	}
#motiv{
	border-radius: 100%;
	border:solid 2px black;
	width:200px;
	height:200px;
	background-image: url('img/motiv.png');
		background-size:80%;
		background-repeat:no-repeat;
		background-position: center;
	position:relative;
	margin: 170px 0px 0px 675px;
}
.block{
	/*background-image:url('img/fond4.jpg');
		background-size: 200%;
		background-repeat:no-repeat;
		background-position:20% 80%;*/
	/*background-image:radial-gradient(white, black); /* Norme W3C */
		/*background-image:-moz-radial-gradient(white, black); /* Firefox */
		/*background-image:-webkit-gradient(radial, white, black); /* Chrome, Safari */
		/*background-image:-o-radial-gradient(white, black); /* Opera */
		/*background-image:-ms-radial-gradient(white, black); /* IE */
	background-color: white;
	height:350px;
	width:500px;
	border: solid 2px black;
	margin:20px 0px 20px 20px;
	float:left;
	box-shadow: 8px 4px 0px #292121; 
}

#text{
	margin-top:0px;
	height:350px;
	width:500px;
	font-family:times;
	padding:50px 0px 0px 0px;
	text-align:center;
	font-size:14px;
}
#pst{
	margin-top:0px;
	margin-bottom:50px;
	text-decoration:underline;
	font-size:30px;
}
#sv{
	margin-top:-10px;
	text-decoration:underline;
	font-size:30px;
}
#mtv{
	margin-top:-20px;
	text-decoration:underline;
	font-size:30px;
}
.block2{
	
	display:block;
	/*background-image:url('img/fond4.jpg');
		background-size: 200%;
		background-repeat:no-repeat;
		background-position:center;*/
	/*background-image:radial-gradient(white, black); /* Norme W3C */
		/*background-image:-moz-radial-gradient(white, black); /* Firefox */
		/*background-image:-webkit-gradient(radial, white, black); /* Chrome, Safari */
		/*background-image:-o-radial-gradient(white, black); /* Opera */
		/*background-image:-ms-radial-gradient(white, black); /* IE */
	background-color: white;
	height:350px;
	width:500px;
	margin:0px 20px 0px 0px;
	border: solid 2px black;
	float:right;
	clear:left;
	font-family:Times;
	box-shadow: 8px 4px 0px #292121;
}

#text2{
	margin-top:15px;
	height:200px;
	width:500px;
	font-family:times;
	padding:55px 0px 0px 0px;
	text-align:center;
	font-size:12px;
}

#text3{
	margin-top:20px;
	height:100px;
	width:500px;
	font-family:times;
	padding:75px 0px 0px 0px;
	text-align:center;
	font-size:14px;
}