
.global {
	background-image: url('../img/body.jpg');
	background-size: 100% 100%;
    background-repeat: no-repeat;
}

.header {
	margin-top: -10px;
	background-image: url('../img/header.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 10px;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	padding-bottom: 10px;
	font-style: italic;
}

h1 {
	font-size: 60px;
	font-style: normal;
}

h2 {
	font-family: 'Syncopate', cursive;
	font-size: 40px;
}

h3 {
	font-size: 40px;
	padding-bottom: 10px;
}

p {
	background-color: rgba(255, 255, 255, 0.5);
}

.row1 {
	margin-left: 50px;
	margin-right: 10px;
	margin-top: 20px;
	font-family: 'Syncopate', cursive;
	font-size: 16px;
}

.row2 {
	font-family: 'Syncopate', cursive;
	font-color: white;
	text-align: left;
	margin-left: 200px;
	margin-bottom: 20px;
	margin-top: 50px;
}

.row3 {
	margin-left: 200px;
	margin-top: 50px;
	margin-bottom: 100px;
	font-family: 'Syncopate', cursive;
	font-color: white;
	font-size: 16px;
}

.row4 {
	text-align: center;
	margin-bottom: 50px;
	margin-left: 380px;
	margin-right: 380px;
}

.row5 {
	margin-left: 850px;
	margin-bottom: 50px;
	margin-top: 100px;
}

.footer {
	text-align: center;
	background-color: rgba(107, 59, 35, 0.4);
	color: white;

}

